html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

#checkboxes {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 6px 10px rgba(252, 239, 0, 0.2);
}
